{% load tz %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <textarea id="chat-log" cols="200" rows="20">
{% for i in message %}
{{ i.text }}  -----  {{i.timestamp|timezone:"Europe/Moscow"}}
{% endfor %}</textarea
    ><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name|json_script:"room-name" }}
    <script>
      let chatSocket = null;
      let messageQueue = [];

      function connectWebSocket() {
        chatSocket = new WebSocket(
          "ws://" + window.location.host + "/ws/messaging/",
        );

        chatSocket.onopen = function (e) {
          console.log("WebSocket connection established");
          while (messageQueue.length > 0) {
            const msg = messageQueue.shift();
            chatSocket.send(JSON.stringify(msg));
          }
        };

        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          var options = {
            month: "short",
            year: "numeric",
            day: "numeric",
            hour: "numeric",
            minute: "numeric",
            hour12: true,
          };
          const timestamp = new Date(data.timestamp).toLocaleString(
            "en-US",
            options,
          );
          document.querySelector("#chat-log").value +=
            "\n" + data.message + "  -----  " + timestamp + "\n";
        };

        chatSocket.onclose = function (e) {
          console.error(
            "Chat socket closed unexpectedly. Reconnecting in 5 seconds...",
          );
          setTimeout(function () {
            connectWebSocket();
          }, 5000);
        };

        chatSocket.onerror = function (e) {
          console.error("WebSocket error:", e);
          chatSocket.close();
        };
      }

      connectWebSocket();

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        const msg = { message: message };

        if (chatSocket.readyState === WebSocket.OPEN) {
          chatSocket.send(JSON.stringify(msg));
        } else {
          messageQueue.push(msg);
          console.log("Message queued due to disconnected WebSocket");
        }
        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
