<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <textarea id="chat-log" cols="200" rows="20">
{% for i in message %}
{{ i.text, i.timestamp }}
{% endfor %}</textarea
    ><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent,
      );

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/messaging/",
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const timestamp = new Date(data.timestamp).toLocaleString("en-US");
        document.querySelector("#chat-log").value +=
          "\n" + data.message + "                 Sent at: " + timestamp + "\n";
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.key === "Enter") {
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({
            message: message,
          }),
        );
        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
